body {
margin: 0 auto;
height: 100%;
font-family: 'Barlow Condensed';
}
.Top {
display: inline-grid;
align-items: center;
grid-template-columns: auto auto;
grid-column-gap: 300px;
padding: 10px;
background: #09071c;
color: white;
width: 100%;
}
.logo-name {
  text-align: left;
}
.navigationbar ul{
  list-style: none;
  text-align: center;
  margin-top: -40px;
  padding-bottom: 15px;
}
.navigationbar ul li{
  display: inline-grid;
  margin: 10px;
}
.navigationbar ul li a{
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
  background: white;
}
.logo {
  padding: 10px 25px;
  max-width: 80px;
}
.intro {
  background-image:linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("../images/sky-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 400px;
  text-align: center;
  color: white;
  padding-top: 150px;
}
.intro p {
  font-size: 20px;
}
.intro h1 {
  font-size: 50px;
}
#home {
  font-size: 20px;
  padding: 15px;
  width: 200px;
  border: 2px solid #ce9510;
  background: #ce9510;
  color: white;
}
.services h2{
  text-align: center;
  font-size: 40px;
}
.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  justify-content: center;
}
.grid-item {
  border: 1px solid #cdcdcd;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  width: 250px;
}
hr {
  width: 50px;
  border: 0;
  border-top: 1px solid #ce9510;
}

.gridcontainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  padding: 10px;
}
.mission {
  background: #f2f3f8;
  padding: 20px 20px 20px 350px;
  width: 100%;
}
.benefits {
  background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("../images/comp.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  color: white;
}
#mission-image {
  width: 30%;
}
.benefits li {
  list-style: none;
}
#intro-button {
  font-size: 20px;
  padding: 15px;
  border: 2px solid #ce9510;
  background: #ce9510;
  color: white;
  margin-top: 25px;
}
.lastgrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 20px;
  padding: 10px;
}
.chooseus {
  background: #152940;
  padding: 20px;
  width: 100%;
  color: white;
}
.chooseus h4 {
  font-size: 30px;
}
.chooseus h5 {
  font-size: 20px;
}
.together {
  padding: 80px;
  font size: 200px;
}
.together h4 {
  font-size: 50px;
  text-align: center;
}
.together p {
  margin-top: 500px;
  font-size: 20px;
  justify-content: center;
}
#appointment-button {
  font-size: 20px;
  padding: 15px;
  border: 2px solid #ce9510;
  background: #ce9510;
  color: white;
  margin-top: 25px;
.chooselicense {
  padding: 20px;
  color: black;
}
